{{ 'banner-velutra.css' | asset_url | stylesheet_tag }}

<section class="banner-velutra page-width">
  <div class="banner-velutra__wrapper">
    <div class="banner-velutra__content">
      <h2 class="banner-velutra__title velutra-title">Inflammation Is the <span>Enemy</span></h2>
      <p class="banner-velutra__description">
        Up to 35% of U.S. adults show signs of chronic inflammation—often silently. Your gut is ground zero for that
        inflammation, and until you address it, your skin can't fully heal.
      </p>

      {% for block in section.blocks %}
        {% if block.type == 'product' and block.settings.product %}
          {% assign product = block.settings.product %}
          <a class="banner-velutra__link btn btn-light" href="{{ product.url }}">SHOP NOW</a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="banner-velutra__image">
      <img src="{{ 'banner-velutra.jpg' | asset_url }}" width="800" height="600" loading="lazy">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner Velutra",
  "blocks": [
    {
      "type": "product",
      "name": "Product link",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Velutra",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
