{{ 'pros-cons.css' | asset_url | stylesheet_tag }}

<section class="pros-cons">
  <div class="pros-cons__wrapper page-width">
    <div class="pros-cons__content">
      <h2 class="pros-cons__title">Results You Can Feel:</h2>

      <ul class="pros-cons__list">
        <li class="pros-cons__item">
          <span class="icon">
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4997 35C20.6609 35.0003 23.7632 34.1441 26.4768 32.5226C29.1905 30.901 31.4143 28.5745 32.9118 25.7904C34.4094 23.0062 35.1248 19.8683 34.9822 16.7101C34.8395 13.5519 33.844 10.4914 32.1015 7.85361L18.19 23.3119C17.5401 24.0341 16.6436 24.4869 15.6767 24.5812C14.7098 24.6755 13.7427 24.4044 12.9656 23.8214L6.6116 19.0556C6.19907 18.7461 5.92635 18.2855 5.85342 17.775C5.7805 17.2645 5.91335 16.7459 6.22274 16.3333C6.53214 15.9208 6.99274 15.648 7.50322 15.5751C8.0137 15.5022 8.53224 15.635 8.94477 15.9444L15.2988 20.7103L29.5817 4.84167C27.5125 2.86632 24.9907 1.42839 22.237 0.653765C19.4834 -0.12086 16.5818 -0.208553 13.7864 0.398363C10.9909 1.00528 8.3869 2.2883 6.20227 4.13508C4.01765 5.98186 2.31904 8.33609 1.25519 10.9916C0.191333 13.6472 -0.205332 16.5231 0.0999238 19.3675C0.40518 22.2119 1.40305 24.9381 3.00616 27.3074C4.60927 29.6767 6.76873 31.6168 9.29547 32.9579C11.8222 34.299 14.6392 35.0002 17.4997 35Z" fill="black"/>
            </svg>
          </span>

          <p>Improved digestive health to support healthy regularity and ease of bloating/inflammation naturally</p>
        </li>

        <li class="pros-cons__item">
          <span class="icon">
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4997 35C20.6609 35.0003 23.7632 34.1441 26.4768 32.5226C29.1905 30.901 31.4143 28.5745 32.9118 25.7904C34.4094 23.0062 35.1248 19.8683 34.9822 16.7101C34.8395 13.5519 33.844 10.4914 32.1015 7.85361L18.19 23.3119C17.5401 24.0341 16.6436 24.4869 15.6767 24.5812C14.7098 24.6755 13.7427 24.4044 12.9656 23.8214L6.6116 19.0556C6.19907 18.7461 5.92635 18.2855 5.85342 17.775C5.7805 17.2645 5.91335 16.7459 6.22274 16.3333C6.53214 15.9208 6.99274 15.648 7.50322 15.5751C8.0137 15.5022 8.53224 15.635 8.94477 15.9444L15.2988 20.7103L29.5817 4.84167C27.5125 2.86632 24.9907 1.42839 22.237 0.653765C19.4834 -0.12086 16.5818 -0.208553 13.7864 0.398363C10.9909 1.00528 8.3869 2.2883 6.20227 4.13508C4.01765 5.98186 2.31904 8.33609 1.25519 10.9916C0.191333 13.6472 -0.205332 16.5231 0.0999238 19.3675C0.40518 22.2119 1.40305 24.9381 3.00616 27.3074C4.60927 29.6767 6.76873 31.6168 9.29547 32.9579C11.8222 34.299 14.6392 35.0002 17.4997 35Z" fill="black"/>
            </svg>
          </span>

          <p>Promotes general skin, hair, stomach and digestive health.</p>
        </li>

        <li class="pros-cons__item">
          <span class="icon">
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4997 35C20.6609 35.0003 23.7632 34.1441 26.4768 32.5226C29.1905 30.901 31.4143 28.5745 32.9118 25.7904C34.4094 23.0062 35.1248 19.8683 34.9822 16.7101C34.8395 13.5519 33.844 10.4914 32.1015 7.85361L18.19 23.3119C17.5401 24.0341 16.6436 24.4869 15.6767 24.5812C14.7098 24.6755 13.7427 24.4044 12.9656 23.8214L6.6116 19.0556C6.19907 18.7461 5.92635 18.2855 5.85342 17.775C5.7805 17.2645 5.91335 16.7459 6.22274 16.3333C6.53214 15.9208 6.99274 15.648 7.50322 15.5751C8.0137 15.5022 8.53224 15.635 8.94477 15.9444L15.2988 20.7103L29.5817 4.84167C27.5125 2.86632 24.9907 1.42839 22.237 0.653765C19.4834 -0.12086 16.5818 -0.208553 13.7864 0.398363C10.9909 1.00528 8.3869 2.2883 6.20227 4.13508C4.01765 5.98186 2.31904 8.33609 1.25519 10.9916C0.191333 13.6472 -0.205332 16.5231 0.0999238 19.3675C0.40518 22.2119 1.40305 24.9381 3.00616 27.3074C4.60927 29.6767 6.76873 31.6168 9.29547 32.9579C11.8222 34.299 14.6392 35.0002 17.4997 35Z" fill="black"/>
            </svg>
          </span>

          <p>Improve scalp health, decrease oiliness and decrease dandruff.</p>
        </li>

        <li class="pros-cons__item">
          <span class="icon">
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4997 35C20.6609 35.0003 23.7632 34.1441 26.4768 32.5226C29.1905 30.901 31.4143 28.5745 32.9118 25.7904C34.4094 23.0062 35.1248 19.8683 34.9822 16.7101C34.8395 13.5519 33.844 10.4914 32.1015 7.85361L18.19 23.3119C17.5401 24.0341 16.6436 24.4869 15.6767 24.5812C14.7098 24.6755 13.7427 24.4044 12.9656 23.8214L6.6116 19.0556C6.19907 18.7461 5.92635 18.2855 5.85342 17.775C5.7805 17.2645 5.91335 16.7459 6.22274 16.3333C6.53214 15.9208 6.99274 15.648 7.50322 15.5751C8.0137 15.5022 8.53224 15.635 8.94477 15.9444L15.2988 20.7103L29.5817 4.84167C27.5125 2.86632 24.9907 1.42839 22.237 0.653765C19.4834 -0.12086 16.5818 -0.208553 13.7864 0.398363C10.9909 1.00528 8.3869 2.2883 6.20227 4.13508C4.01765 5.98186 2.31904 8.33609 1.25519 10.9916C0.191333 13.6472 -0.205332 16.5231 0.0999238 19.3675C0.40518 22.2119 1.40305 24.9381 3.00616 27.3074C4.60927 29.6767 6.76873 31.6168 9.29547 32.9579C11.8222 34.299 14.6392 35.0002 17.4997 35Z" fill="black"/>
            </svg>
          </span>

          <p>Reveal visibly calmer, clearer skin in weeks</p>
        </li>
      </ul>
    </div>

    <div class="pros-cons__table">
      <table class="pros-cons__table-body">
        <thead>
          <tr>
            <th></th>
            <th>Velutra</th>
            <th>Other Brands</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Natural De-Bloating</td>
            <td>
              <svg width="45" height="34" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3182 26.8955L3.57955 16.2388L0 19.791L14.3182 34L45 3.55224L41.4205 0L14.3182 26.8955Z" fill="#9DD29C"/>
              </svg>
            </td>
            <td>
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5468 2.64129C33.6905 2.49761 33.8045 2.32705 33.8822 2.13933C33.96 1.95161 34 1.75041 34 1.54723C34 1.34404 33.96 1.14285 33.8822 0.95513C33.8045 0.767412 33.6905 0.596846 33.5468 0.453173C33.4032 0.309499 33.2326 0.195531 33.0449 0.117776C32.8572 0.0400204 32.656 0 32.4528 0C32.2496 0 32.0484 0.0400204 31.8607 0.117776C31.673 0.195531 31.5024 0.309499 31.3587 0.453173L17 14.815L2.64129 0.453173C2.49761 0.309499 2.32705 0.195531 2.13933 0.117776C1.95161 0.0400204 1.75041 1.51385e-09 1.54723 0C1.34404 -1.51385e-09 1.14285 0.0400204 0.95513 0.117776C0.767412 0.195531 0.596846 0.309499 0.453173 0.453173C0.309499 0.596846 0.195531 0.767412 0.117776 0.95513C0.0400204 1.14285 -1.51385e-09 1.34404 0 1.54723C1.51385e-09 1.75041 0.0400204 1.95161 0.117776 2.13933C0.195531 2.32705 0.309499 2.49761 0.453173 2.64129L14.815 17L0.453173 31.3587C0.163011 31.6489 0 32.0424 0 32.4528C0 32.8631 0.163011 33.2567 0.453173 33.5468C0.743334 33.837 1.13688 34 1.54723 34C1.95758 34 2.35112 33.837 2.64129 33.5468L17 19.185L31.3587 33.5468C31.6489 33.837 32.0424 34 32.4528 34C32.8631 34 33.2567 33.837 33.5468 33.5468C33.837 33.2567 34 32.8631 34 32.4528C34 32.0424 33.837 31.6489 33.5468 31.3587L19.185 17L33.5468 2.64129Z" fill="#E6618D"/>
              </svg>
            </td>
          </tr>
          <tr>
            <td>Probiotic & Prebiotics</td>
            <td>
              <svg width="45" height="34" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3182 26.8955L3.57955 16.2388L0 19.791L14.3182 34L45 3.55224L41.4205 0L14.3182 26.8955Z" fill="#9DD29C"/>
              </svg>
            </td>
            <td>
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5468 2.64129C33.6905 2.49761 33.8045 2.32705 33.8822 2.13933C33.96 1.95161 34 1.75041 34 1.54723C34 1.34404 33.96 1.14285 33.8822 0.95513C33.8045 0.767412 33.6905 0.596846 33.5468 0.453173C33.4032 0.309499 33.2326 0.195531 33.0449 0.117776C32.8572 0.0400204 32.656 0 32.4528 0C32.2496 0 32.0484 0.0400204 31.8607 0.117776C31.673 0.195531 31.5024 0.309499 31.3587 0.453173L17 14.815L2.64129 0.453173C2.49761 0.309499 2.32705 0.195531 2.13933 0.117776C1.95161 0.0400204 1.75041 1.51385e-09 1.54723 0C1.34404 -1.51385e-09 1.14285 0.0400204 0.95513 0.117776C0.767412 0.195531 0.596846 0.309499 0.453173 0.453173C0.309499 0.596846 0.195531 0.767412 0.117776 0.95513C0.0400204 1.14285 -1.51385e-09 1.34404 0 1.54723C1.51385e-09 1.75041 0.0400204 1.95161 0.117776 2.13933C0.195531 2.32705 0.309499 2.49761 0.453173 2.64129L14.815 17L0.453173 31.3587C0.163011 31.6489 0 32.0424 0 32.4528C0 32.8631 0.163011 33.2567 0.453173 33.5468C0.743334 33.837 1.13688 34 1.54723 34C1.95758 34 2.35112 33.837 2.64129 33.5468L17 19.185L31.3587 33.5468C31.6489 33.837 32.0424 34 32.4528 34C32.8631 34 33.2567 33.837 33.5468 33.5468C33.837 33.2567 34 32.8631 34 32.4528C34 32.0424 33.837 31.6489 33.5468 31.3587L19.185 17L33.5468 2.64129Z" fill="#E6618D"/>
              </svg>
            </td>
          </tr>
          <tr>
            <td>Clearer Skin</td>
            <td>
              <svg width="45" height="34" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3182 26.8955L3.57955 16.2388L0 19.791L14.3182 34L45 3.55224L41.4205 0L14.3182 26.8955Z" fill="#9DD29C"/>
              </svg>
            </td>
            <td>
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5468 2.64129C33.6905 2.49761 33.8045 2.32705 33.8822 2.13933C33.96 1.95161 34 1.75041 34 1.54723C34 1.34404 33.96 1.14285 33.8822 0.95513C33.8045 0.767412 33.6905 0.596846 33.5468 0.453173C33.4032 0.309499 33.2326 0.195531 33.0449 0.117776C32.8572 0.0400204 32.656 0 32.4528 0C32.2496 0 32.0484 0.0400204 31.8607 0.117776C31.673 0.195531 31.5024 0.309499 31.3587 0.453173L17 14.815L2.64129 0.453173C2.49761 0.309499 2.32705 0.195531 2.13933 0.117776C1.95161 0.0400204 1.75041 1.51385e-09 1.54723 0C1.34404 -1.51385e-09 1.14285 0.0400204 0.95513 0.117776C0.767412 0.195531 0.596846 0.309499 0.453173 0.453173C0.309499 0.596846 0.195531 0.767412 0.117776 0.95513C0.0400204 1.14285 -1.51385e-09 1.34404 0 1.54723C1.51385e-09 1.75041 0.0400204 1.95161 0.117776 2.13933C0.195531 2.32705 0.309499 2.49761 0.453173 2.64129L14.815 17L0.453173 31.3587C0.163011 31.6489 0 32.0424 0 32.4528C0 32.8631 0.163011 33.2567 0.453173 33.5468C0.743334 33.837 1.13688 34 1.54723 34C1.95758 34 2.35112 33.837 2.64129 33.5468L17 19.185L31.3587 33.5468C31.6489 33.837 32.0424 34 32.4528 34C32.8631 34 33.2567 33.837 33.5468 33.5468C33.837 33.2567 34 32.8631 34 32.4528C34 32.0424 33.837 31.6489 33.5468 31.3587L19.185 17L33.5468 2.64129Z" fill="#E6618D"/>
              </svg>
            </td>
          </tr>
          <tr>
            <td>Reduce Inflammation</td>
            <td>
              <svg width="45" height="34" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3182 26.8955L3.57955 16.2388L0 19.791L14.3182 34L45 3.55224L41.4205 0L14.3182 26.8955Z" fill="#9DD29C"/>
              </svg>
            </td>
            <td>
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5468 2.64129C33.6905 2.49761 33.8045 2.32705 33.8822 2.13933C33.96 1.95161 34 1.75041 34 1.54723C34 1.34404 33.96 1.14285 33.8822 0.95513C33.8045 0.767412 33.6905 0.596846 33.5468 0.453173C33.4032 0.309499 33.2326 0.195531 33.0449 0.117776C32.8572 0.0400204 32.656 0 32.4528 0C32.2496 0 32.0484 0.0400204 31.8607 0.117776C31.673 0.195531 31.5024 0.309499 31.3587 0.453173L17 14.815L2.64129 0.453173C2.49761 0.309499 2.32705 0.195531 2.13933 0.117776C1.95161 0.0400204 1.75041 1.51385e-09 1.54723 0C1.34404 -1.51385e-09 1.14285 0.0400204 0.95513 0.117776C0.767412 0.195531 0.596846 0.309499 0.453173 0.453173C0.309499 0.596846 0.195531 0.767412 0.117776 0.95513C0.0400204 1.14285 -1.51385e-09 1.34404 0 1.54723C1.51385e-09 1.75041 0.0400204 1.95161 0.117776 2.13933C0.195531 2.32705 0.309499 2.49761 0.453173 2.64129L14.815 17L0.453173 31.3587C0.163011 31.6489 0 32.0424 0 32.4528C0 32.8631 0.163011 33.2567 0.453173 33.5468C0.743334 33.837 1.13688 34 1.54723 34C1.95758 34 2.35112 33.837 2.64129 33.5468L17 19.185L31.3587 33.5468C31.6489 33.837 32.0424 34 32.4528 34C32.8631 34 33.2567 33.837 33.5468 33.5468C33.837 33.2567 34 32.8631 34 32.4528C34 32.0424 33.837 31.6489 33.5468 31.3587L19.185 17L33.5468 2.64129Z" fill="#E6618D"/>
              </svg>
            </td>
          </tr>
          <tr>
            <td>Reinforce Gut Lining</td>
            <td>
              <svg width="45" height="34" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3182 26.8955L3.57955 16.2388L0 19.791L14.3182 34L45 3.55224L41.4205 0L14.3182 26.8955Z" fill="#9DD29C"/>
              </svg>
            </td>
            <td>
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5468 2.64129C33.6905 2.49761 33.8045 2.32705 33.8822 2.13933C33.96 1.95161 34 1.75041 34 1.54723C34 1.34404 33.96 1.14285 33.8822 0.95513C33.8045 0.767412 33.6905 0.596846 33.5468 0.453173C33.4032 0.309499 33.2326 0.195531 33.0449 0.117776C32.8572 0.0400204 32.656 0 32.4528 0C32.2496 0 32.0484 0.0400204 31.8607 0.117776C31.673 0.195531 31.5024 0.309499 31.3587 0.453173L17 14.815L2.64129 0.453173C2.49761 0.309499 2.32705 0.195531 2.13933 0.117776C1.95161 0.0400204 1.75041 1.51385e-09 1.54723 0C1.34404 -1.51385e-09 1.14285 0.0400204 0.95513 0.117776C0.767412 0.195531 0.596846 0.309499 0.453173 0.453173C0.309499 0.596846 0.195531 0.767412 0.117776 0.95513C0.0400204 1.14285 -1.51385e-09 1.34404 0 1.54723C1.51385e-09 1.75041 0.0400204 1.95161 0.117776 2.13933C0.195531 2.32705 0.309499 2.49761 0.453173 2.64129L14.815 17L0.453173 31.3587C0.163011 31.6489 0 32.0424 0 32.4528C0 32.8631 0.163011 33.2567 0.453173 33.5468C0.743334 33.837 1.13688 34 1.54723 34C1.95758 34 2.35112 33.837 2.64129 33.5468L17 19.185L31.3587 33.5468C31.6489 33.837 32.0424 34 32.4528 34C32.8631 34 33.2567 33.837 33.5468 33.5468C33.837 33.2567 34 32.8631 34 32.4528C34 32.0424 33.837 31.6489 33.5468 31.3587L19.185 17L33.5468 2.64129Z" fill="#E6618D"/>
              </svg>
            </td>
          </tr>
          <tr>
            <td>Backed by Nature</td>
            <td>
              <svg width="45" height="34" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3182 26.8955L3.57955 16.2388L0 19.791L14.3182 34L45 3.55224L41.4205 0L14.3182 26.8955Z" fill="#9DD29C"/>
              </svg>
            </td>
            <td>
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5468 2.64129C33.6905 2.49761 33.8045 2.32705 33.8822 2.13933C33.96 1.95161 34 1.75041 34 1.54723C34 1.34404 33.96 1.14285 33.8822 0.95513C33.8045 0.767412 33.6905 0.596846 33.5468 0.453173C33.4032 0.309499 33.2326 0.195531 33.0449 0.117776C32.8572 0.0400204 32.656 0 32.4528 0C32.2496 0 32.0484 0.0400204 31.8607 0.117776C31.673 0.195531 31.5024 0.309499 31.3587 0.453173L17 14.815L2.64129 0.453173C2.49761 0.309499 2.32705 0.195531 2.13933 0.117776C1.95161 0.0400204 1.75041 1.51385e-09 1.54723 0C1.34404 -1.51385e-09 1.14285 0.0400204 0.95513 0.117776C0.767412 0.195531 0.596846 0.309499 0.453173 0.453173C0.309499 0.596846 0.195531 0.767412 0.117776 0.95513C0.0400204 1.14285 -1.51385e-09 1.34404 0 1.54723C1.51385e-09 1.75041 0.0400204 1.95161 0.117776 2.13933C0.195531 2.32705 0.309499 2.49761 0.453173 2.64129L14.815 17L0.453173 31.3587C0.163011 31.6489 0 32.0424 0 32.4528C0 32.8631 0.163011 33.2567 0.453173 33.5468C0.743334 33.837 1.13688 34 1.54723 34C1.95758 34 2.35112 33.837 2.64129 33.5468L17 19.185L31.3587 33.5468C31.6489 33.837 32.0424 34 32.4528 34C32.8631 34 33.2567 33.837 33.5468 33.5468C33.837 33.2567 34 32.8631 34 32.4528C34 32.0424 33.837 31.6489 33.5468 31.3587L19.185 17L33.5468 2.64129Z" fill="#E6618D"/>
              </svg>
            </td>
          </tr>
          <tr>
            <td>Vegan | Non-GMO | Doctor Formulated</td>
            <td>
              <svg width="45" height="34" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3182 26.8955L3.57955 16.2388L0 19.791L14.3182 34L45 3.55224L41.4205 0L14.3182 26.8955Z" fill="#9DD29C"/>
              </svg>
            </td>
            <td>
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5468 2.64129C33.6905 2.49761 33.8045 2.32705 33.8822 2.13933C33.96 1.95161 34 1.75041 34 1.54723C34 1.34404 33.96 1.14285 33.8822 0.95513C33.8045 0.767412 33.6905 0.596846 33.5468 0.453173C33.4032 0.309499 33.2326 0.195531 33.0449 0.117776C32.8572 0.0400204 32.656 0 32.4528 0C32.2496 0 32.0484 0.0400204 31.8607 0.117776C31.673 0.195531 31.5024 0.309499 31.3587 0.453173L17 14.815L2.64129 0.453173C2.49761 0.309499 2.32705 0.195531 2.13933 0.117776C1.95161 0.0400204 1.75041 1.51385e-09 1.54723 0C1.34404 -1.51385e-09 1.14285 0.0400204 0.95513 0.117776C0.767412 0.195531 0.596846 0.309499 0.453173 0.453173C0.309499 0.596846 0.195531 0.767412 0.117776 0.95513C0.0400204 1.14285 -1.51385e-09 1.34404 0 1.54723C1.51385e-09 1.75041 0.0400204 1.95161 0.117776 2.13933C0.195531 2.32705 0.309499 2.49761 0.453173 2.64129L14.815 17L0.453173 31.3587C0.163011 31.6489 0 32.0424 0 32.4528C0 32.8631 0.163011 33.2567 0.453173 33.5468C0.743334 33.837 1.13688 34 1.54723 34C1.95758 34 2.35112 33.837 2.64129 33.5468L17 19.185L31.3587 33.5468C31.6489 33.837 32.0424 34 32.4528 34C32.8631 34 33.2567 33.837 33.5468 33.5468C33.837 33.2567 34 32.8631 34 32.4528C34 32.0424 33.837 31.6489 33.5468 31.3587L19.185 17L33.5468 2.64129Z" fill="#E6618D"/>
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pros-cons__link-wrapper" data-da="pros-cons__content,last,1023">
      {% for block in section.blocks %}
        {% if block.type == 'product' and block.settings.product %}
          {% assign product = block.settings.product %}
          <a class="pros-cons__link btn btn-dark" href="{{ product.url }}">TRY VELUTRA</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Velutra Pros Cons",
  "blocks": [
    {
      "type": "product",
      "name": "Product link",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Velutra Pros Cons",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
