.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding-top: 1rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    /* max-width: 36rem; */
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  .field__input:focus {
    box-shadow: initial;
    border-radius: 10rem;
    outline: none;
  }

  /* .field__input:focus ~ .field__label {
    font-size: initial;
  } */

  .field {
    display: flex;
    align-items: center;
    
    .field__label {
      top: initial;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .field::before, ::after {
    display: none;
  }
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  background-color: #fff;
  height: 3.6rem;
  width: 12rem;
  font-family: 'IvyMode', sans-serif;
  font-size: 1.4rem;
  border: initial;
  border-radius: 10rem;
  z-index: 2;
  transition: background-color 0.3s linear;
}

@media screen and (min-width: 1023px) {
  .newsletter-form__button {
    height: 5rem;
    width: 15rem;
    font-size: 1.6rem;
  }
}

.newsletter-form__button:hover {
  background-color: #b9b3d1;
  cursor: pointer;
}


.newsletter-form__button:focus-visible {
  /* box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground)); */
  background-color: #CEC8E8;
}

.newsletter-form__button:focus {
  /* box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground)); */
   background-color: #CEC8E8;
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  /* background-color: inherit; */
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

